:root {
  --heathered-gray: #BDA39C;
  --khaki: #F1E68C;
  --crows-head: #1A130A;
  --lisbon-brown: #4C3B25;
  --sandstone: #7B6D5C;
  --tana: #F4DB9C;
  --luxor-gold: #9B8731;
  --coffee-bean: #24160D;
}